$base-color: beige;
$button-color:rgb(18, 134, 243);
$base-font: 'Poppins', sans-serif;


.all{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: -10px;
    margin-bottom: 20px;

    .container{
        background-color: $base-color;
        font-style: $base-font;
        font: 1.2em sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
        padding: 30px;
        border-radius: 40px;
    
    
    }
}
