$base-color: beige;
$button-color:rgb(18, 134, 243);
$base-font: 'Poppins', sans-serif;

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 30px;  
    font-family: $base-font;
    margin-bottom: 25px;
    margin-top: 20px;
    
    .form {
        display: flex;
        flex-direction: column;
        background-color: $base-color;
        padding: 20px;
        border-radius: 30px;

        .title { 
            border-style: dashed;
            border-radius: 10px;
            padding: 10px;
        }

        input {
            border-radius: 30px;
            height: 50px;
            padding-left: 10px;
            font-size: 1.3em;
        }
        
        textarea {
            font-size: 1.5em;

        }

        button {
            background-color: $button-color;
            border-radius: 30px;
            height: 50px;
            color: aliceblue;
            border-color:$button-color;
            font-size: 1.3em;
            cursor: pointer;
            
        }

    }

    .map {
        background-color: $base-color;
        border-radius: 30px;
        padding: 20px;

        .mapContainer{
            width: 80em;
            height: 42em;
        }
    }
    
}