$base-color: beige;
$button-color:rgb(18, 134, 243);
$base-font: 'Poppins', sans-serif;

html {
    scroll-behavior: smooth;
}
body {
    // background-image: url("https://www.totallylegal.com/getasset/c3ee2a89-b973-445f-9337-1ca05736c950/");
    // background-repeat: no-repeat;
    // background-size: 100% ;
    background-color: brown;
    
    
    
}